<!DOCTYPE html>
<html>
  <head>
    <title>mitsumo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <header>タスク見積もり能力向上アプリ「mitsumo」</header>
  <body class="container">

    <p>
    <% if logged_in? %>
      <%= link_to "HOME", tasks_path %>
      <%= link_to "ログアウト", logout_path, method: :delete %>
    <% else %>
      <%= link_to "会員登録", signup_path %>
      <%= link_to "ログイン", signin_path %>
    <% end %>
    </p>

    <%= render "commons/flash" %>
    <%= yield %>
  </body>
  <footer>製作者：未来のワクワクさん</footer>
</html>