<!DOCTYPE html>
<html>
  <head>
    <title>mitsumo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script> 
    </head>

  <body>
  <header>
      <div class="container"><h1>タスク見積もり能力向上アプリ「mitsumo」</h1></div>
        <nav>
        <% if logged_in? %>
          <%= link_to "HOME", tasks_path %>
          <%= link_to "ログアウト", logout_path, method: :delete %>
          <%= link_to "ランキング", ranking_path %>
        <% else %>
          <%= link_to "会員登録", signup_path %>
          <%= link_to "ログイン", signin_path %>
        <% end %>
        <div class="animation start-home"></div>
      </nav>
      <ul>
          <li><a data-text='CSS' href="#">CSS</a></li>
          <li><a data-text="HTML" href="#">HTML</a></li>
          <li><a data-text="Javascript" href="#">JavaScript</a></li>
          <li><a data-text="About" href="#">About</a></li>
      </ul>
      <br /><br />
  </header>

  <main class="container">
    <br>
    <p>
    <% if logged_in? %>
      <%= link_to "HOME", tasks_path %>
      <%= link_to "ログアウト", logout_path, method: :delete %>
      <%= link_to "ランキング", ranking_path %>
      <%= link_to "プロフィール編集", ranking_path %>
    <% else %>
      <%= link_to "会員登録", signup_path %>
      <%= link_to "ログイン", signin_path %>
    <% end %>
    </p>

    <%= render "commons/flash" %>
    <%= yield %>
  </main>

  <footer>
      <div class="container">製作者：未来のワクワクさん</div>
  </footer>
   <%= javascript_pack_tag 'main' %>
  </body>
</html>