<table class="table table-hover">
    <tr>
        <th>id</th>
        <th>タスク内容</th>
        <th>タスク進捗</th>
        <%# <th>見積もり時間</th> %>
        <%# <th>実績時間</th> だっだ%>
        <th>登録日時</th>
        <th></th>
        <th></th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
        <td><%= task.id %></td>
        <td><%= task.task_name %></td>
        <td>
            <%= form_with url: change_status_path, scope: :task do |f| %>
                <%= f.hidden_field :id, value: task.id %>   
                <%= f.hidden_field :status, value: task.status %>   
                <%= f.submit ["未着手", "実施中", "完了"][task.status || 0], class: "btn btn-dark" %>
            <% end %>
        </td>
        <%# <td><%= task.estimated_time </td> %>
        <%# <td><%= task.end_time </td> %>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data:{confirm: "本当に削除しますか"} %></td>
    </tr>
    <% end %>
</table>
<%= paginate @tasks %>
