<h3><%= @user.nickname %>さんのタスク一覧</h3>

<%= form_with model: @task do |f| %>
<div class="d-flex" style="display:flex;">
	<div>
        <p><b>タスク内容</b></p> 
        <p><%= f.text_field :task_name, class: "form-control input-number border-dark", style: "width:150px", placeholder: "ex.部屋の掃除"%></p>
    </div>
	<div>
        <p><b>見積もり時間</b></p>
        <div class="d-flex" style="display:flex;">
            <div><%= f.number_field :estimated_time, value: 0, class: "form-control input-number border-dark", min: 1, max: 100,  style: "width:70px" %></div>
            <div style="vertical-align: text-bottom">min</div>
        </div>
    </div>
</div>
    <%= f.submit "登録する" %>
<% end %>

<%# <div id="countdownArea" class="countdown">
    <b style="font-size:60px;">
        <span id="countdown-min" class="stop_time"></span> :
        <span id="countdown-sec"></span>
    </b>
</div> %>
<%# <button type="button" class="btn btn-warning stop" onclick="stop_time_catch()">おわた!</button> %>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<br>
<%# link_to "全て", tasks_path, class: "btn btn-primary"%>
<%# link_to "未着手", select_index0_path , {style: "float: left;", class: "btn btn-warning"}%>　
<%# link_to "実施中", select_index1_path , {class: "btn btn-warning"}%>　
<%# link_to "完了", select_index2_path , {class: "btn btn-warning"}%>　
<br><br>
<div id="app">
    <ul class="tab-menu">
        <li
            v-for="tab in tabs" :key="tab.name"
            @click="activeTab = tab.name"
            :class="{active: activeTab === tab.name}"
        >{{ tab.text }}</li>
    </ul>
    <div class="tab-content">
        <div v-if="activeTab === 'tabs-1'">
            <p><%= render "commons/tasks" %></p>
        </div>
        <div v-if="activeTab === 'tabs-2'">
            <p><%= render "commons/tasks_today" %></p>
        </div>
        <div v-if="activeTab === 'tabs-3'">
            <p>タブ3の内容</p>
        </div>
    </div>
</div>
<br>

<%= button_to '完了タスク削除', {controller: :tasks, action: :done_destroy}, {method: :delete, style: "float: right;", class: "btn btn-warning"}%>

