<div style="display:flex; justify-content:space-around;">

    <div>
        <br><br><br><br><br>
        <%= form_with model: @task do |f| %>
        <div class="d-flex" style="display:flex;">
            <div>
                <p><b>タスク内容</b></p> 
                <p><%= f.text_field :task_name, class: "form-control input-number border-dark", style: "width:200px", placeholder: "ex.部屋の掃除"%></p>
            </div>
            <div>
                <p><b>見積もり</b></p>
                <div class="d-flex" style="display:flex;">
                    <div><%= f.number_field :estimated_time, value: 0, class: "form-control input-number border-dark", min: 1, max: 100,  style: "width:70px" %></div>
                    <div style="vertical-align: text-bottom">min</div>
                </div>
            </div>
        </div>
        <%= f.submit "登録する", class: "bubbly-button" %>
        <% end %>
    </div>
    <div>
        <div class="balloon1">
        <h4>今後のタスクを洗い出しましょう！</h4>
        </div><br>
        <img src="/assets/Happy.png" width="300" height="300">
    </div>
    <div>
        <%# <div class="form-check"> %>
        <%# f.label "本日のタスク", class: "form-check-label", for: "flexRadioDefault1" %>
        <%# f.check_box :check_box, class: "form-check-input", value: "today" %>
        <%# <input class=form-check-input type="radio" name="table_type" value="today"> %>
        <%# <label class="form-check-label" for="flexRadioDefault1"> %>
            <%# 本日のタスク
        </label> %>
        <%# </div> %>
    </div>

</div>
<br><br><br><br><br>

<table class="table table-hover">
    <tr>
        <th></th>
        <th>タスク内容</th>
        <th>見積もり時間(min)</th>
        <th></th>
        <th></th>
    </tr>
    <% @tasks_future.each do |task| %>
    <tr>
        <td>
            <%= form_with url: today_task_changed_path, scope: :task_today do |f| %>
                <%= f.hidden_field :id, value: task.id %>
                <%= f.hidden_field :action_date, value: task.action_date %>
                <% if task.action_date == nil %>
                    <%= f.submit "本日のタスクに追加", class: "btn btn-outline-success" %>
                <% else %>
                    <%= "#{task.action_date}のタスク" %>
                <% end %>
            <% end %>
        </td>
        <td><%= task.task_name %></td>
        <td><%= task.estimated_time%></td> 
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data:{confirm: "本当に削除しますか"} %></td>
    </tr>
    <% end %>
</table>
