<div class="fadeIn">
    <img src="/assets/palette.png" width="450" height="400">
    <div class="balloon1-left">
        <h4>
            <p><%= @user.nickname %>さん、こんにちは！</p>
            <p>本日<%= "#{Time.zone.now.year}年#{Time.zone.now.month}月#{Time.zone.now.day}日" %>の見積もり総量は、</p>
            <% total_todays_estimated_time = 0 %>
            <% @tasks_todo.map{|task| total_todays_estimated_time += task.estimated_time } %>
            『<b><%= total_todays_estimated_time/60 %>時間<%= total_todays_estimated_time%60 %>分』</b>です。
            </p>
            <p> <% today = "#{Time.zone.now.year}/#{Time.zone.now.month}/#{Time.zone.now.day}" %>
                <% past_total_estimated = Task.where(user_id: @user.id).where.not(action_date: [nil, today]).sum(:actual_time) %>
                <% s = Task.where(user_id: @user.id).where.not(action_date: [nil, today]).group(:action_date).size.length %>
                <% if s == 0 %>
                        <% text0 = "" %>
                        <% text1 = "" %>
                        <% text2 = "現在、過去のタスクデータはありません。" %>
                        <% color = "black" %>
                <% else %>
                    <% past_total_average_estimated_time = past_total_estimated/s %>
                    <% rest_min = past_total_average_estimated_time - total_todays_estimated_time  %>
                    <% if rest_min >= 0 %>
                        <% text0 = "あなたの1日の平均実働時間と比べると" %>
                        <% text1 = "#{rest_min/60}時間#{rest_min%60}分" %>
                        <% text2 = "時間があまるでしょう。" %>
                        <% color = "orange" %>
                    <% else %>
                        <% text0 = "あなたの1日の平均実働時間と比べると" %>
                        <% text1 = "#{-rest_min/60}時間#{-rest_min%60}分オーバー" %>
                        <% text2 = "" %>
                        <% text3 = "することが予想されます。" %>
                        <% color = "red" %>
                    <% end %>
                <% end %>
                    <span><%= text0 %></span>
                    <span style="color:<%= color %>"><b><%= text1 %></b></span>
                    <span><%= text2 %></span>
                    <p><%= text3 %></p>
            </p>
        </h4>
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <%= form_with model: @task do |f| %>
    <div class="d-flex" style="display:flex;">
        <div>
            <p><b>タスク内容</b></p> 
            <p><%= f.text_field :task_name, class: "form-control input-number border-dark", style: "width:200px", placeholder: "ex.部屋の掃除"%></p>
        </div>
        <div>
            <p><b>見積もり</b></p>
            <div class="d-flex" style="display:flex;">
                <div style="display: flex;align-items:end">
                    <%= f.number_field :estimated_time, value: 0, class: "form-control input-number border-dark", min: 1, max: 100,  style: "width:70px" %>
                    <div style="vertical-align: text-bottom">min</div>
                
                </div>
            </div>
        </div>
    </div>
    <%= f.hidden_field :action_date, value: "#{Time.zone.now.year}/#{Time.zone.now.month}/#{Time.zone.now.day}" %>
    <%= f.submit "登録する", class: "bubbly-button" %>
    <% end %>
</div>

<div class="d-flex">
    <h2>ToDo</h2>
    <table class="table table-hover">
        <tr>
            <th>タスク進捗</th>
            <th>タスク内容</th>
            <th>見積もり時間</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% @tasks_todo.each do |task| %>
        <tr>
            <td>
                <%= form_with url: change_status_path, scope: :task do |f| %>
                    <%= f.hidden_field :id, value: task.id %>   
                    <%= f.hidden_field :status, value: task.status %>
                    <%= f.submit ["作業開始!", "実施中", "完了"][task.status || 0], class: "btn btn-success", style: "width: 100px;" %>
                <% end %>
            </td>
            <td><b><%= task.task_name %></b></td>
            <td><%= task.estimated_time%>min</td> 
            <td>
                <%= form_with url: today_task_changed_path, scope: :task_today do |f| %>
                    <%= f.hidden_field :id, value: task.id %>
                    <%= f.hidden_field :action_date, value: task.action_date %>
                    <%= f.submit "明日以降のタスクへ", class: "btn btn-dark" %>
                <% end %>
            </td>
            <td><%= link_to "編集", edit_task_path(task) %></td>
            <td><%= link_to "削除", task_path(task), method: :delete, data:{confirm: "本当に削除しますか"} %></td>
        </tr>
        <% end %>
    </table>
    <br>

    <div class="parent">
        <span class="dli-caret-down"></span>
    </div>

    <h2>Progress</h2>
    <table class="table table-hover">
        <tr>
            <th>タスク進捗</th>
            <th>タスク内容</th>
            <th>見積もり時間</th>
            <th>途中経過</th>
        </tr>
        <% @tasks_progress.each do |task| %>
        <tr>
            <td>
                <%= form_with url: change_status_path, scope: :task do |f| %>
                    <%= f.hidden_field :id, value: task.id %>
                    <%= f.hidden_field :status, value: task.status %>
                    <%= f.submit ["作業開始", "実施中", "完了"][task.status || 0], class: "btn_21" %>
                <% end %>
            </td>
        <td><%= task.task_name %></td>
        <td><%= task.estimated_time%>min</td> 
        <td><%= task.actual_time%>min</td> 
        </tr>
        <% end %>
    </table>
    <br>

    <div class="parent">
        <span class="dli-caret-down"></span>
    </div>

    <h2>Done</h2>
    <table class="table table-hover">
        <tr>
            <th>タスク進捗</th>
            <th>タスク内容</th>
            <th>見積もり時間</th>
            <th>経過時間</th>
            <th>見積もり誤差</th>
        </tr>
        <% @tasks_done.each do |task| %>
        <tr>
            <td>
                <%= form_with url: change_status_path, scope: :task do |f| %>
                    <%= f.hidden_field :id, value: task.id %>   
                    <%= f.hidden_field :status, value: task.status %>
                    <%= f.submit ["作業開始", "実施中", "完了"][task.status || 0], class: "btn btn-dark", style: "width: 100px;" %>
                <% end %>
            </td>
            <td><%= task.task_name %></td>
            <td><%= task.estimated_time%>min</td> 
            <td><%= task.actual_time%>min</td> 
            <td>
            <% error_time_abs = (task.actual_time - task.estimated_time).abs %>
            <% if error_time_abs <= 10 %>
                <% text = "±#{error_time_abs}min" %>
                <% color = "green" %>
            <% elsif error_time_abs <= 20 %>
                <% text = "±#{error_time_abs}min" %>
                <% color = "orange" %>
            <% else %>
                <% text = "±#{error_time_abs}min" %>
                <% color = "red" %>
            <% end %>
                <span style="color:<%= color %>"><b><%= text %></b></span>
            </td> 
            <td><%= link_to "編集", edit_task_path(task) %></td>
            <td><%= link_to "削除", task_path(task), method: :delete, data:{confirm: "本当に削除しますか"} %></td>
        </tr>
        <% end %>
    </table>
</div>
