<div style="justify-content: center;align-items: center;display: flex;">
<img src="/assets/analytics.png" width="450" height="400">
<div class="balloon1-left">
<table class="table table-hover">
    <h4>見積もりが良くなかったタスク<b>ワースト3</b>は以下の通りだよ。</h4>
    <tr>
        <th></th>
        <th>タスク内容</th>
        <th>見積もり時間(min)</th>
        <th>実働時間(min)</th>
        <th></th>
        <th>見積もり誤差(min)</th>
    </tr>
    <% tasks_past_worst = @tasks_past.map{|task| [task.task_name, task.estimated_time, task.actual_time, (task.estimated_time - task.actual_time).abs]}.sort_by{|x| x[3]}.reverse![0..2] %>
    <% tasks_past_worst.each_with_index do |task, index| %>
    <tr>
        <td>
            <%= "#{index+1}位" %>
        </td>
        <td>
            <%= task[0] %>
        </td>
        <td>
            <%= task[1] %>
        </td>
        <td>
            <%= task[2] %>
        </td>
        <td>➡︎</td>
        <td>
            <% error_time_abs = task[3] %>
            <% if error_time_abs <= 10 %>
                <% text = "±#{error_time_abs}" %>
                <% color = "green" %>
            <% elsif error_time_abs <= 20 %>
                <% text = "±#{error_time_abs}" %>
                <% color = "orange" %>
            <% else %>
                <% text = "±#{error_time_abs}" %>
                <% color = "red" %>
            <% end %>
            <span style="color:<%= color %>"><b><%= text %></b></span>
        </td>
    </tr>
    <% end %>
</table>
</div>
</div>


<br><br><br>
<h3>過去のタスク</h3>
<table class="table table-hover">
    <tr>
        <th>日付</th>
        <th>タスク進捗</th>
        <th>タスク内容</th>
        <th>見積もり時間(min)</th>
        <th>実働時間(min)</th>
        <th>見積もり誤差(min)</th>
        <th></th>
        <th></th>
    </tr>
    <% @tasks_past.each do |task| %>
    <tr>
        <td>
            <%= form_with url: today_task_changed_path, scope: :task_today do |f| %>
                <%= f.hidden_field :id, value: task.id %>
                <%= f.hidden_field :action_date, value: task.action_date %>
                <% if task.action_date == nil %>
                    <%= f.submit "本日のタスクに追加", class: "btn btn-dark" %>
                <% else %>
                    <%= task.action_date %>
                <% end %>
            <% end %>
        </td>
        <td>
            <%= form_with url: change_status_path, scope: :task do |f| %>
                <%= f.hidden_field :id, value: task.id %>   
                <%= f.hidden_field :status, value: task.status %>
                <%= f.submit ["作業開始", "実働中", "完了"][task.status || 0], class: "btn btn-dark" %>
            <% end %>
        </td>
        <td><%= task.task_name %></td>
        <td><%= task.estimated_time%></td> 
        <td><%= task.actual_time%></td> 
        <td>
            <% error_time_abs = (task.actual_time - task.estimated_time).abs %>
            <% if error_time_abs <= 10 %>
                <% text = "±#{error_time_abs}" %>
                <% color = "green" %>
            <% elsif error_time_abs <= 20 %>
                <% text = "±#{error_time_abs}" %>
                <% color = "orange" %>
            <% else %>
                <% text = "±#{error_time_abs}" %>
                <% color = "red" %>
            <% end %>
            <span style="color:<%= color %>"><b><%= text %></b></span>
        </td> 
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data:{confirm: "本当に削除しますか"} %></td>
    </tr>
    <% end %>
</table>
<%# paginate @tasks_past %>
