<h1>「<%= @task.task_name %>」を終わらせろ！！</h1>

<div class="timer" id="timer"></div>

<div>
    残り時間
</div>


<div id="countdownArea" class="countdown">
    <b style="font-size:60px;">
        <span id="countdown-min" class="stop_time"></span> :
        <span id="countdown-sec"></span>
    </b>
</div>

<% start_time = Time.now %>

<%  %>

<%= form_with url: stop_path, scope: :task do |f| %>
    <%= f.hidden_field :id, value: @task.id %>  
    <%= f.hidden_field :time, value: start_time %>
    <img src="/assets/AiryDesign-anime.gif" width="700" height="400"><br>
    <%= f.submit "Finish", class: "bubbly-button", style: "font-size: large; align: center" %>
<% end %> 

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
const access_time = new Date()
let time = '<%== JSON.dump(@task.estimated_time) %>'
const min_time = Number(time) * 60 * 1000 //3分をミリ秒にしたもの

// function stop_time_catch(){

//     $(function (){
//     let stop_time = document.getElementsByClassName('stop_time')[0];
//     console.log(stop_time)

//     $.ajax({
//         url: '/timers/stop',  
//         type: 'POST',
//         processData: false,
//         // dataType: 'html',
//         // async: true,
//         data: {
//             stop: stop_time,
//         }
//     });
//     });
// }

let stop = document.querySelector("#stop")
</script>
