<h1>「<%= @task.task_name %>」を終わらせろ！！</h1>

<div class="timer" id="timer"></div>

<div>
    残り時間
</div>


<div id="countdownArea" class="countdown">
    <b style="font-size:60px;">
        <span id="countdown-min" class="stop_time"></span> :
        <span id="countdown-sec"></span>
    </b>
</div>

<% start_time = Time.now %>

<%  %>

<%= form_with url: stop_path, scope: :task do |f| %>
    <%= f.hidden_field :id, value: @task.id %>  
    <%= f.hidden_field :time, value: start_time %>
    <div style="text-align:center">
        <img src="/assets/AiryDesign-anime.gif" width="700" height="400"><br>
        <div style="display: flex; justify-content: space-around;">
          <%= f.submit "＜＜ 戻る", class: "bubbly-button", style: "font-size: large; align: center" %>
          <%= f.submit "一時停止", class: "bubbly-button", style: "font-size: large; align: center" %>
          <%= f.submit "終わった ＞＞", class: "bubbly-button", style: "font-size: large; align: center" %>
        </div>
    </div>
  
 
<% end %> 

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
const access_time = new Date()
let time = '<%== JSON.dump(@task.estimated_time) %>'
const min_time = Number(time) * 60 * 1000 //3分をミリ秒にしたもの

let stop = document.querySelector("#stop")

let countdown = setInterval(function(){
    const now = new Date() 
    const elapsed_time = now - access_time //カウントアップ
    const remainTime = min_time - elapsed_time  //差分を取る（ミリ秒で返ってくる
  

    //指定の日時を過ぎていたら処理をしない
    if(remainTime < 0) return false 

    let difMin  = Math.floor(remainTime / 1000 / 60) % 60
    let difSec  = Math.floor(remainTime / 1000) % 60

    if (String(difMin).length == 1){
      difMin =  "0" + String(difMin)
    }
    if (String(difSec).length == 1){
      difSec =  "0" + String(difSec)
    }

    document.getElementById("countdown-min").textContent = difMin;
    document.getElementById("countdown-sec").textContent = difSec;

    //指定の日時になればカウントを止める
    if(remainTime < 0) clearInterval(countdown)

}, 1000) //1秒間に1度処理する


for (var i = 0; i < bubblyButtons.length; i++) {
  bubblyButtons[i].addEventListener('click', animateButton, false);
}

</script>
