<div class="login-page">
    <div class="form">
        <%= form_with model: @user, url: signup_path, class: "register-form" do |f| %>

            <%= f.text_field :name, placeholder: "お名前" %>

            <%= f.date_field :birth_date, placeholder: "誕生日" %>

            <%= f.text_field :email, placeholder: "メールアドレス" %>

            <%= f.password_field :password, placeholder: "パスワード" %>

            <%= f.password_field :password_confirmation, placeholder: "パスワード（確認）" %>

            <%= f.text_field :nickname, placeholder: "ニックネーム" %>
            <button>create</button>
            <p class="message">Already registered? <%= link_to "Sign In", signin_path %></p>
        <% end %>
    </div>
</div>