<h3>会員登録</h3>
<%= form_with model: @user, url: signup_path do |f| %>

<dl>
    <dt>お名前</dt>
    <dd><%= f.text_field :name %></dd><br>

    <dt>生年月日</dt>
    <dd><%= f.date_field :birth_date %><br>
    
    <dt>E-mail</dt>
    <dd><%= f.text_field :email %></dd><br>

    <dt>パスワード</dt>
    <dd><%= f.password_field :password %></dd><br>

    <dt>パスワード（確認）</dt>
    <dd><%= f.password_field :password_confirmation %></dd><br>

    <dt>ニックネーム</dt>
    <dd><%= f.text_field :nickname %></dd><br>
</dl>
<%= f.submit "会員登録" %>
<% end %>